<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MannaDemo.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>52BD06E6C9DA99B539E91352B97C417A4092860E</string>
				<key>dateExpires</key>
				<string>2021/10/24</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52BD06E6C9DA99B539E91352B97C417A4092860E</string>
						<key>dateExpires</key>
						<string>2021/10/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DH7PS64634</string>
						<key>name</key>
						<string>Jaein Jeong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52BD06E6C9DA99B539E91352B97C417A4092860E</string>
						<key>dateExpires</key>
						<string>2021/10/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DH7PS64634</string>
						<key>name</key>
						<string>Jaein Jeong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52BD06E6C9DA99B539E91352B97C417A4092860E</string>
						<key>dateExpires</key>
						<string>2021/10/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>NMapsMap.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DH7PS64634</string>
						<key>name</key>
						<string>Jaein Jeong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52BD06E6C9DA99B539E91352B97C417A4092860E</string>
						<key>dateExpires</key>
						<string>2021/10/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DH7PS64634</string>
						<key>name</key>
						<string>Jaein Jeong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52BD06E6C9DA99B539E91352B97C417A4092860E</string>
						<key>dateExpires</key>
						<string>2021/10/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxKeyboard.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DH7PS64634</string>
						<key>name</key>
						<string>Jaein Jeong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52BD06E6C9DA99B539E91352B97C417A4092860E</string>
						<key>dateExpires</key>
						<string>2021/10/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxRelay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DH7PS64634</string>
						<key>name</key>
						<string>Jaein Jeong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52BD06E6C9DA99B539E91352B97C417A4092860E</string>
						<key>dateExpires</key>
						<string>2021/10/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DH7PS64634</string>
						<key>name</key>
						<string>Jaein Jeong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52BD06E6C9DA99B539E91352B97C417A4092860E</string>
						<key>dateExpires</key>
						<string>2021/10/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DH7PS64634</string>
						<key>name</key>
						<string>Jaein Jeong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52BD06E6C9DA99B539E91352B97C417A4092860E</string>
						<key>dateExpires</key>
						<string>2021/10/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SocketIO.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DH7PS64634</string>
						<key>name</key>
						<string>Jaein Jeong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52BD06E6C9DA99B539E91352B97C417A4092860E</string>
						<key>dateExpires</key>
						<string>2021/10/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Starscream.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DH7PS64634</string>
						<key>name</key>
						<string>Jaein Jeong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52BD06E6C9DA99B539E91352B97C417A4092860E</string>
						<key>dateExpires</key>
						<string>2021/10/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftKeychainWrapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DH7PS64634</string>
						<key>name</key>
						<string>Jaein Jeong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52BD06E6C9DA99B539E91352B97C417A4092860E</string>
						<key>dateExpires</key>
						<string>2021/10/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DH7PS64634</string>
						<key>name</key>
						<string>Jaein Jeong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52BD06E6C9DA99B539E91352B97C417A4092860E</string>
						<key>dateExpires</key>
						<string>2021/10/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Then.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DH7PS64634</string>
						<key>name</key>
						<string>Jaein Jeong</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>DH7PS64634.com.MannaDemo</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>DH7PS64634</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>MannaDemo.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ed3c42a2-da08-4449-a667-a12b2b6620a1</string>
				<key>name</key>
				<string>mannademo201024</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>DH7PS64634</string>
				<key>name</key>
				<string>Jaein Jeong</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
